<html>

<head>
  <title>
    <%= headTitle %>
  </title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <h1>Products List</h1>
  <ul>
    <% products.forEach(product=> { %>
      <li>
        <%= product.name %> - <%= product.description %>
            <a href="/products/<%= product.name %>">Details</a>
            <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
      </li>
      <% }) %>
  </ul>
  <a href="/products/add">Add Product</a>
</body>
<script>
  function deleteProduct(name) {
    if (!confirm(`Are you sure you want to remove ${name}?`)) {
      return;
    }

    fetch(`/products/${name}`, {
      method: "DELETE",
    }).then((response) => {
      console.log(response);
      if (response.ok) {
        window.location.reload();
      } else {
        alert("Error while removing product.");
      }
    });
  }
</script>

</html>